{% extends 'layout.html' %}


{% block content %}
<div class="page-wrapper">
    <div class='row page-titles'>
        <div class='col-md-5 align-self-center'>
            <h3 class='text-themecolor'>Media Categories/Albums</h3>
        </div>
        <div class='col-md-7 align-self-center text-right'>
            <ol class='breadcrumb justify-content-end'>
                <li class='breadcrumb-item'><a href="{% url 'core:index' %}">Home</a></li>
                <li class='breadcrumb-item active'>Media Categories</li>
            </ol>
        </div>
    </div>

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-8 col-md-12 col-sm-12 col-xs-12'>
                <div class='card shadow-sm'>
                    <div class='card-body'>
                        <h4 class='card-title'>Albums </h4>
                        <h6 class='card-subtitle'>Search, Sort, Edit and Delete Albums</h6>
                        <div class='table-responsive m-t-40'>
                            <table id='myTable' class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Slug</th>
                                        <th>Files</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for album in albums %}
                                    <tr {% if object.id == album.id %}style="background-color: #fff9e6;"{% endif %}>
                                        <td>{{ album.id }}</td>
                                        <td class="font-bold text-dark">{{ album.name }}</td>
                                        <td><code>{{ album.slug }}</code></td>
                                        <td><span class="label label-info">{{ album.mediacat.count }}</span></td>
                                        <td class='text-center'>
                                            <a href="{% url 'core:media_category_edit' album.id %}" 
                                            class="btn btn-sm btn-circle btn-outline-info" 
                                            title='Edit Category'>
                                                <i class="bi bi-pencil-square"></i>
                                            </a> 

                                            <a href="{% url 'core:media_category_delete' album.id %}" 
                                            class="btn btn-sm btn-circle btn-outline-danger ml-1" 
                                            title='Delete Category' 
                                            onclick='return confirm("Are You Sure You Want To Delete This Album? This cannot be undone.")'>
                                                <i class="bi bi-x-circle"></i>
                                            </a>
                                        </td>
                                    {% empty %}
                                    <tr><td colspan="5" class="text-center">No categories found.</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-12 col-sm-12 col-xs-12'>
                <form id='postform' method='post' action="{% if is_edit %}{% url 'core:media_category_edit' object.id %}{% else %}{% url 'core:media_category_add' %}{% endif %}">
                    {% csrf_token %}
                    <div class='card border-{% if is_edit %}warning{% else %}success{% endif %}' style='padding:1em;'>
                        <div class="card-header bg-{% if is_edit %}warning{% else %}success{% endif %} text-white font-bold">
                            {% if is_edit %} 
                                <i class="fa fa-edit"></i> EDIT ALBUM #{{ object.id }}
                            {% else %} 
                                <i class="fa fa-plus"></i> ADD NEW ALBUM 
                            {% endif %}
                        </div>
                        <hr>
                        <div class='card-body'>
                            <div class='form-group'>
                                <label class="font-bold">Album Name</label>
                                {{ album_form.name }} 
                            </div>
                            
                            <div class='form-group' style='display:none'>
                                {{ album_form.slug }}
                            </div>

                            {% if is_edit %}
                            <div class="p-2 mb-2 bg-light text-muted small">
                                Current Slug: <strong>{{ object.slug }}</strong>
                            </div>
                            {% endif %}
                            
                            <hr>
                            <div class='form-group'>
                                <button type='submit' class='btn btn-{% if is_edit %}warning{% else %}success{% endif %} btn-block'>
                                    <i class='mdi mdi-content-save'></i> {% if is_edit %}Update Album{% else %}Add Album{% endif %}
                                </button>
                                
                                {% if is_edit %}
                                    <a href="{% url 'core:media_categories' %}" class="btn btn-secondary btn-block mt-2">
                                        Cancel Edit
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}